h1{
  border: 3px dotted darkblue;
  width: 75%;
  height: 150px; /* width/Height yüzdelik veya px olarak verilebilir. */
  text-align: center; 
  color: yellowgreen;
} 
.container{
width: 500px;
height: 250px;
border: 3px solid teal;
}
.title{
  width: 50%;
  
  /* padding content ve border arasında  */
  padding: 20px ;
  /* dörtlü padding yazılımda sıralama: top,right,bottom,left */
  padding: 20px 50px 20px 50px;
  border: 3px solid lightcoral;
}