body {
  font-family: 'Roboto', sans-serif;
}
div {
  width: 50%;
}
h1 {
  font-size: 100px;
  font-weight: 400;
}
h2{
  font-size: 50;
}
p{
  font-size: 20;
}
/* Diğer spanların etkilenmesini istemiyoruz ve tek bir html etiketine ::shadow uygulanacağı için id verdik. */
#flexbox {
  text-shadow: 0 -10px green, 0 -5px blue, 0 5px red, 0 10px yellow;
}
