.box {
  width: 500px;
  height: 500px;
  border: 1px solid red;
  background-image: url('images/css.png');
  /* İmage tekrarı istenmiyorsa */
  background-repeat: no-repeat;
  /* background-repeat: repeat-x/repeat-y; x/y ekseninde image tekrarı  */
}
