p{
  border: 2px solid black;
  background-color: wheat;
  margin: 30px;
  font-size: 30px;
  

}
#middle{
  position: relative;
  background-color: pink;
  top: 90px;
  z-index: -1;
}
/* z indexte z index i büyük olan küçük olanı ezer. 
position static e verilen z-index etkili olmaz.*/
